<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bug Handler Summary Report | Session ID: {{ session_id }} | Setup name: {{setup_name}} </title>
    </head>
    <body>
        <h1>Bug Handler Summary Report</h1>

        <p> <strong>Dumps folder:</strong> {{dumps_folder}}</p>
        <ol type="1">
        {% for dump_info in sanitizer_dumps_info -%}
        <li>
            <p><strong>{{dump_info["dump_name"]}}</strong><br>
            <strong>Test name:</strong> {{dump_info["test_name"]}}</p>
            <h4>Bug Handler Results:</h4>
            <ol type="a">
            {% for bug_handler_result in dump_info["results"] -%}
            <li>
                </p><strong>{{bug_handler_result["file_name"]}}<br>
                Bug Handler Messages:</strong><br></p>
                <p>
                {% for message in bug_handler_result["messages"] -%}
                    {{message}}<br>
                {% endfor %}
                </p>
                <p><strong>RC:</strong> {{bug_handler_result["rc"]}}<br>
                <strong>Decision:</strong> {{bug_handler_result["decision"]}}<br>
                <strong>Recommended Actions:</strong><br>{{bug_handler_result["recommended_action"]}}</p>
            </li>
            {% endfor %}
        </li>
        {% endfor %}
    </body>
</html>